* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
 overflow-x: hidden;
}
nav {
    background-color: #0C3153;
    font-size: 1.2em;
    display: flex;
    height: 6em;
    align-items: center;
    position: relative;
}
nav i {
    width: fit-content;
    cursor: pointer;
}
nav img {
    height: 5em;
    margin: auto 2em;
}
#logo {
    justify-content: center;
   
}
#panier {
    position: absolute;
    left: 90%;
    color: white;
}
.banniere{
    
    height: 420px ;
    width: 100%;
    margin-top: 7.2em;
}
aside {
    height: 50%;
    border-right:  2px solid #0C3153;
    margin-top: 12rem !important;
    position: sticky !important;
    top: 10em;
    padding-right: 0 !important;
    padding-left: 3em !important;
}
h2 {
    margin-left: 6%;
}
.contenu {
    margin-top: 5em;
    animation: fadein 2s;
    height: 100%;
}
.produits {
    margin: auto;
}
.produits img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px;
    margin-bottom: 2em;
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein{
    animation: fadein 2s;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 1em auto;
    box-shadow: 2px 2px 5px #0C3153;
    border-radius: 10px 10px;
    text-align: center;
}
.item button{
    border-radius: 0 0 10px 10px;
    border: none;
    background-color: white;
}
.item button:hover {
    background-color: #0C3153;
    color: white;
    transition: 0.5s;
    width: 100%;
}
.price {
    font-weight: bold;
}
.description {
    text-align: center;
    margin: 1em;
}

.hero-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fff;
    z-index: 15;
  }
  
  .hero-link-button {
    content: "";
    font-size: 24px;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
  }
  
  .hero-link-button:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -41px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #fff;
    z-index: -1;
  }

@media (max-width:1024px){

    aside {
        position: static;
        border: none;
        margin-top: 100px !important;
    }
    .contenu {
      margin: 8% auto auto auto;
    }
    .banniere {
        display: none;
    }
    .hero-link {
        display: none;
    }
    .hero-link-button {
        display: none;
    }
}